@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: rgb(229, 234, 238) ;


}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before{
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left:0 ;
    height: 100%;
    background: rgba(237, 247, 237, 0.849);
    backdrop-filter: blur(50px);
    z-index: -1;
}


.header::after{
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left:-100% ;
    height: 100%;
    background: linear-gradient(90deg,transparent,rgba(183, 243, 208, 0.801),transparent);
    transition: .5s;
}
.header:hover::after{
    left: 100%;
}



.logo {
    font-size: 2rem;
    color: #0c0c0c;
    text-decoration: none;
    font-weight: 700;

}


.navbar a {
    font-size: 1.15rem;
    color: #0f0f0f;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;

}

#check {
    display:none;

}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #080808;
    cursor: pointer;
    display: none;

}

/*BREAKPOINT*/
@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;

    }
}

@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }

    .icons #close-icon{
        display: none;
    }


    #check:checked~.icons #close-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        height: 0;
        width: 100%;
        background: rgba(235, 229, 229, 0.945);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(241, 236, 236, 0.884);
        overflow: hidden;
        transition: .3s ease;

    }


    #check:checked~.navbar{
        height: 17.7rem;
    }

    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: .3s ease;
        opacity: 0;
    }
        #check:checked~.navbar a{
            transform: translateY(0);
            opacity: 1;
            transition-delay: calc(.15s *var(--i));
    }

}



/* Footer  */

.footer {
    background-color: #333; 
    color: #fff; 
    padding: 10px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 750px) {
    .footer {
        position: relative;
        padding-top: 30px; /* Increase the padding to push the footer down */
        margin-top: 15%;
    }

    .footer-content {
        flex-direction: column; 
        padding: px; 
    }
}
